body{
	
	padding-top: 150px;
	padding-left: 400px;
}

.container{
	
	width: 400px;
	height: 300px;
	border: 1px solid black;
	/*padding-left: 50px;*/
}

.button_div{
	
	padding-top: 20px;
}

.input_style{
	
	width: 200px;
	height: 30px;
	background: #f1f1f1;
	border: none;
	padding: 15px;
	/*margin: 10px;*/
	margin-top: 10px;
	margin-left: 30px;
}

.update_button{
	
	background-color: #4CAF50;
  	width: 70px;
  	height: 30px;
  	border: none;
  	color: white;
  	margin-left: 30px;
}

.main_heading{
	
	border-bottom: 1px solid black;
	padding-bottom: 20px;
	padding-left: 30px;
}

.label_styles{
	
	padding-left: 30px;
	
}

.error_styles{
	
	  margin-left: 30px;
}

.password_update_success{
	
	color: red;
}